.gapgrid,.gapgrid-2 {
    gap: 15px;
    align-items: center;
  }

  .gapgrid-2{
    margin-top: 1rem;
  }
  @media (min-width: 800px) {
    .gapgrid {
      gap: 0;
    }
  }
  .tableitem{
    cursor: pointer;
  }
  tbody{
  
    tr:hover{
      background-color: rgb(230, 238, 243);
    }
  }

  .buttonActions{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }