.gapgrid {
  gap: 15px;
  align-items: center;
}
@media (min-width: 800px) {
  .gapgrid {
    gap: 0;
  }
}
.tableitem{
  cursor: pointer;
}
tbody{

  tr:hover{
    background-color: rgb(230, 238, 243);
  }
}

.swal2-title,.swal2-html-container{
  margin: 0;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
}